* {
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  line-height: 2;
  margin: 0;
}
div {
    margin-left: 30%;
}
.container-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

a {
  margin: 1rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  background-color: rgb(12, 231, 231);
  color: black;
  border-color: black;
  border-bottom: ridge;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
a:hover {
  background-color: white;
  
}
h1 {
  text-align: center;
  font-size: larger;
  margin: 2rem;
  border: 2px solid black;
  padding: 0 10px;
}
h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.658);
  width: fit-content;
  padding: 0 10px;
  margin: 0;
}
b {
  margin: 1rem;
}
img {
  width: 200px;
  height: auto;
}
input {
  width: 10rem;
  margin: 5px;
  background-color: aqua;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
